{erl_opts, [no_debug_info]}.

{deps, [
  {cowboy, {git,"git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
  {jsone, {git, "git://github.com/sile/jsone", {tag, "1.2.2"}}},
  {amqp_client, {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.5.6"}}},
  {uuid, {git, "git://github.com/okeuday/uuid", {tag, "v1.5.1"}}},
  {poolboy, {git, "git://github.com/devinus/poolboy", {branch, "master"}}}
]}.

{relx, [{release, { ping_pong, "0.1.0" },
         [ping_pong,
          sasl,
          runtime_tools,
          observer,
          wx]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
